.information {
    box-shadow: 0px 0px 2px 2px;
}

.information-name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    font-weight: 500;
}

.tags-ul {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    padding: 10px 0px;
}

.tags-li {
    margin: 2px 5px;
    background-color: #f6f6f6;
    border-radius: 5px;
    padding: 5px;
}

.informationSize {
    font-size: 14px;
}

.information-body-li{
    line-height: 14px;
}