.search-control {
    height: 50%;
}

body {
    overflow-x: hidden;
}

.search-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.konkurset {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 10px;
    text-transform: uppercase;
    color: chocolate;
    font-size: large;
}

.formaKonkursit {
    background-color: rgb(209, 208, 208);
    padding-right: 10px;
    margin-right: 10px;
}

.custom-select {
    position: relative;
}

.fa-angle-down {
    position: absolute;
    top: 30%;
    left: 90%;
    font-size: 15px;
}

.pargrafiFormes{
    font-size: 11px;
    margin-top: 2px;
    text-align: center;
}
.cards {
    border: 3px solid gray;
    border-radius: 5px;
    margin: 10px 0px;
}

.cards:hover {
    border-color: chocolate;
    color: chocolate;
}





@media only screen and (max-width: 576px) {
    .search-form {
        display: flex;
        justify-content: center;
        max-width: 180px;
    }

    .search-control {
        width: 50%;
    }
}